<% include ../partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header">Login</div>
	<form class="ui form" action="/auth/login" method="POST">
		<div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
		</div>		
		<div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
		</div>		
		<input class="ui small pink basic button" type="submit" value="Login">
	</form>
</div>
<% include ../partials/footer %>